/College Voting System/nbproject/private/
/College Voting System/build/
/College Voting System/dist/
/College_Voting_System/nbproject/private/
/College_Voting_System/build/
/College_Voting_System_1/nbproject/private/
/College_Voting_System_1/build/
/College_Voting_System_1/dist/