<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>LogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regis</servlet-name>
        <servlet-class>regis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addpay</servlet-name>
        <servlet-class>addpay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkpay</servlet-name>
        <servlet-class>checkpay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcomp</servlet-name>
        <servlet-class>addcomp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>givepayment</servlet-name>
        <servlet-class>givepayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepass</servlet-name>
        <servlet-class>changepass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/LogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regis</servlet-name>
        <url-pattern>/regis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addpay</servlet-name>
        <url-pattern>/addpay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkpay</servlet-name>
        <url-pattern>/checkpay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcomp</servlet-name>
        <url-pattern>/addcomp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>givepayment</servlet-name>
        <url-pattern>/givepayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepass</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
